.urbit-visor-share-tweet-button-text:hover{
  text-decoration: underline;
}


#tweet-preview {
    width: 500px;
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}

#preview-close-button:hover{
    cursor: pointer;
    text-decoration: underline;
}
#tweet-preview #author, #tweet-quote-author{
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}
#avatar{
    border-radius: 2rem;
}
#tweet-author-name, #tweet-quote-author-name{
    font-weight: 700;
}
#tweet-body{
    margin: 1rem 0 1rem 3rem;
}
#tweet-text{
    margin-bottom: 1rem;
}
#tweet-pictures{
    width: 100%;
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
#tweet-pictures .img-1{
    width: 100%;
}
#tweet-pictures .img-2,
#tweet-pictures .img-3,
#tweet-pictures .img-4{
    width: 48%;
    margin: 0.1rem;
}

#twitter-poll{
    border-radius: 14px;
    border: 1px solid grey;
    margin: 0 1rem;
    padding: 0 1rem;
}
.twitter-poll-option{
    display: flex;
    justify-content: space-between;
}
#tweet-quote{
    width: 80%;
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0 auto;   
}
.key-container{
    width: 50%;
}