@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.urbit-visor-share-tweet-button:hover {
  cursor: pointer;
}

#uv-twitter-extension-welcome {
  width: 650px;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: white;
  color: black;
  margin: auto;
  height: 320px;
  padding: 1rem;
}

#uv-twitter-extension-welcome h4 {
  text-align: center;
}

#uv-twitter-extension-welcome-icon {
  text-align: center;
}

#uv-twitter-extension-welcome-icon img {
  width: 50px;
}

#uv-twitter-extension-welcome-button {
  margin: 3rem auto;
  display: block;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
  height: 50px;
}

#uv-twitter-share-modal {
  display: flex;
  flex-direction: column;
  width: 540px;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: white;
  color: black;
  margin: auto;
  height: 90%;
  font-family: "Inter", sans-serif;
}

#uv-twitter-share-modal h4 {
  display: inline-block;
  margin: 0;
  color: #566470;
}
#tweet-preview {
  display: flex;
  max-height: 100%;
  overflow-y: scroll;
}
.left-column {
  width: 74.681%;
}
.right-column {
  width: 25.319%;
  background-color: aquamarine;
}
.right-column .cropped {
  width: 120px; /* width of container */
  height: 120px; /* height of container */
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid #dee4e6;
  box-sizing: border-box;
}
.right-column .cropped img {
  /* margin: -10px 0px 0px -180px; */
}
#tweet-preview::-webkit-scrollbar {
  display: none;
}
#tweet-preview-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px 19px 16px;
}
#tweet-preview-header h3 {
  margin: 0;
  line-height: 34px;
  height: 30px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #182024;
}
#visor-icon {
  width: 30px;
  height: auto;
}
#tweet-preview-tabs {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #edf2f3;
  border-bottom: 1px solid #edf2f3;
  padding: 0 32px;
}
.preview-tab-container {
  width: calc(100% / 3);
}
.preview-tab-container {
  display: flex;
}
.preview-tab-container:first-child {
  justify-content: left;
}
.preview-tab-container:nth-child(2) {
  justify-content: center;
}
.preview-tab-container:last-child {
  justify-content: right;
}
.tweet-preview-tab {
  position: relative;
  line-height: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.tweet-preview-tab:hover {
  cursor: pointer;
  text-decoration: underline;
}
#uv-twitter-share-modal .active-tab h4 {
  color: #182024;
}
#uv-twitter-share-modal .active-tab .tab-underline {
  position: absolute;
  height: 3px;
  background-color: #009af0;
  width: 100%;
  bottom: 0;
  border-radius: 1000px;
}
#tweet-share-payload-wrapper {
  border-bottom: 1px solid #edf2f3;
  padding: 16px;
  /* max-height: 240px; */
  overflow-y: hidden;
}
#tweet-share-payload-wrapper::-webkit-scrollbar {
  display: none;
}
#tweet-share-payload {
  border: 1px solid #dee4e6;
  border-radius: 16px;
  padding: 16px;
}

#preview-close-button {
  margin: 0;
}
#preview-close-button:after {
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  font-size: 26px;
  line-height: 26px;
  margin: 0;
  color: #1b231f;
}
#preview-close-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

#tweet-preview #author,
#tweet-quote-author {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}
#avatar {
  width: auto;
  height: 41px;
  border-radius: 50%;
}
#tweet-author-date-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 12px;
}
#tweet-author-name-wrapper {
  display: flex;
  line-height: 18px;
  font-size: 14px;
}
#tweet-quote-author-name {
  margin: 1rem 0.2rem;
  font-weight: 700;
}
#tweet-author-name {
  font-weight: 700;
  color: #182024;
}
#tweet-quote-author-handle {
  margin-right: 2rem;
}
#tweet-author-handle {
  padding-left: 4px;
  color: #566470;
}
#tweet-date {
  margin: 0;
  line-height: 20px;
  font-size: 12px;
  color: #566470;
}
#tweet-body {
  overflow: hidden;
}
#tweet-text {
  overflow: hidden;
  padding-top: 18px;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #182024;
}
#tweet-text p {
  margin: 0 0 18px;
}
#tweet-pictures {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
div#tweet-pictures img {
  /* max-width: 100% !important; */
  width: 120px;
  height: 120px;
  /* border-radius: 16px; */
}
div#tweet-pictures img.portrait {
  height: auto !important;
}
div#tweet-pictures img.landscape {
  width: auto !important;
}
#tweet-pictures .img-1 {
  /* width: auto; */
}
#tweet-pictures .img-2,
#tweet-pictures .img-3,
#tweet-pictures .img-4 {
  width: 48%;
  margin: 0.1rem;
}
#twitter-poll {
  border-radius: 14px;
  border: 1px solid grey;
  margin: 0 1rem;
  padding: 0 1rem;
}
.twitter-poll-option {
  display: flex;
  justify-content: space-between;
}
#tweet-quote {
  width: 80%;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0 auto;
}
div#twitter-link p {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.03rem;
  color: #3e99ea;
}
#tweet-share-buttons {
  margin-top: 0.5rem;
}
#uv-channel-selector {
  flex: 1 1 1px;
  overflow: auto;
  padding: 0.4rem;
}
#uv-channel-selector-title {
  text-align: center;
}
#uv-channel-selector-searchbox {
  width: 100%;
  margin: 0.5rem 0;
}
#uv-channel-selector-searchbox-wrapper {
  width: 100%;
  display: flex;
  border: none;
  outline: none;
  background-color: rgb(200, 200, 200);
  height: 30px;
  border-radius: 1rem;
  cursor: text;
  box-sizing: border-box;
}
#uv-channel-selector-searchbox input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5rem;
}
.dm-candidate-chip {
  border-radius: 1rem;
  background-color: black;
  color: white;
  cursor: pointer;
}
#urbit-key-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.urbit-key {
  border: 1px solid grey;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.6rem;
  margin: 0.2rem;
  width: 45%;
}
.urbit-key input[type="checkbox"] {
  width: 20px;
  margin: auto 0;
  width: 10%;
}
.urbit-key-name {
  width: 80%;
}
.urbit-key-title {
  font-weight: 700;
}
.urbit-key-type-icon {
  width: 10%;
  width: 25px;
  margin: auto 0;
}
#tweet-share-button-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border-top: 0.5px solid grey;
}
#tweet-share-button {
  width: 100%;
  background-color: black;
  border-radius: 1rem;
  height: 50px;
  display: flex;
  justify-content: center;
  color: white;
  cursor: pointer;
}
#tweet-share-button svg {
  margin: 0.7em 0.5em 0.7em 0;
}
#tweet-preview-author {
  display: flex;
}
#extension-icon {
  width: auto;
  height: 28px;
  position: absolute;
  top: 11px;
  right: 15px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d0d3d4;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
